<div class="all-notify" [routerLink]="['/']">
    All Notifactions
</div>
<div class="notify-blocks-container">
    <button class="notify-blocks"
        [routerLink]="['/notification-details','one']">
        One
    </button>
    <button class="notify-blocks"
    [routerLink]="['/notification-details','two']">
    Two
</button>
</div>
<div class="notify-blocks-container">
  <button class="notify-blocks"
  [routerLink]="['/notification-details','three']">
  Three
</button>
<button class="notify-blocks"
[routerLink]="['/notification-details','four']">
Four
</button>
</div>
